* {
  box-sizing: border-box;
}

body.dark {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #1a1a1a;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 18px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

nav a {
  color: gold;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  border-radius: 20px;
  
}

.hero h2 {
  font-size: 28px;
}

.hero p {
  font-size: 16px;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* CARD */
.card {
  padding: 25px;
  margin: 20px;
  background: #1f1f1f;
  border-radius: 20px;
  font-size: 15px;
}

/* GOALS */
.goals {
  padding: 20px;
  font-size: 16px;
}

/* MOBILE FIX */
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .hero {
    padding: 80px 15px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .btn {
    padding: 10px 20px;
  }
}

.section {
  padding: 80px 20px;
  text-align: center;
}

.highlight {
  background: linear-gradient(135deg, #232526, #414345);
}

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
}

.timer div {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  min-width: 80px;
}

.timer span {
  display: block;
  font-size: 28px;
  font-weight: bold;
}